# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit microcurrencyd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/satoshiware/microcurrency.conf, but keep in mind those explicitly
# specified as arguments in ExecStart= will override those in the
# config file.

[Unit]
Description=Microcurrency daemon
Documentation=https://github.com/satoshiware/microcurrency/blob/master/doc/init.md

# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/microcurrencyd -micro \
                            -daemonwait \
                            -pid=/run/satoshiware/microcurrencyd.pid \
                            -conf=/etc/microcurrency.conf \
                            -datadir=/var/lib/microcurrency

ExecStop=/usr/bin/microcurrency-cli -micro \
                              -conf=/etc/microcurrency.conf \
                              -datadir=/var/lib/microcurrency \
                              stop

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp microcurrency /etc/microcurrency.conf

# Process management
####################

Type=forking
PIDFile=/run/satoshiware/microcurrencyd.pid
Restart=always
RestartSec=30
TimeoutStartSec=infinity
TimeoutStopSec=600

# Directory creation and permissions
####################################

# Run as microcurrency:microcurrency
User=microcurrency
Group=microcurrency

# /run/microcurrency
RuntimeDirectory=microcurrency
RuntimeDirectoryMode=0710

# /var/lib/microcurrency
StateDirectory=microcurrency
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
